# <center> R2.08 - Statistique descriptive <br> TP 2 - Description bidimensionnelle </center>

<center> A. Ridard </center>

L'objectif est d'illustrer le cours 2 avec Python (une illustration avec Excel est disponible sur Moodle).

## Importations pour ce TP

In [31]:
# importation des packages
import numpy as np
import pandas as pd
import seaborn as sns

# importation des modules
import matplotlib.pyplot as plt
import scipy.stats as sps

> Charger les données du fichier **TP2_Data.xslx** dans un DataFrame (on reprend les données du TP1 en se limitant au Bac S).

In [32]:
# importation du fichier Excel

df = pd.read_excel("./TP2_Data.xlsx", sheet_name="Reponses_Bac_S")

## Deux variables qualitatives

***Dans cette section, on s'intéresse à la dépendance entre la mention au bac ($X$) et la formation postbac ($Y$).***

> Afficher le tableau de contingence

In [33]:
pd.crosstab(df["mention_bac"], df["postbac"])

postbac,Autre,DUT INFO,DUT R&T,Prépa concours (CPGE),Prépa intégrée (PEI)
mention_bac,,,,,
Assez bien,6,12,11,5,3
Bien,0,14,2,6,5
Passable,2,3,3,0,0
Très bien,1,3,1,2,1

> Afficher le tableau de contingence complété par les marges en lignes et en colonnes

In [34]:
pd.crosstab(df["mention_bac"], df["postbac"], margins=True)

postbac,Autre,DUT INFO,DUT R&T,Prépa concours (CPGE),Prépa intégrée (PEI),All
mention_bac,,,,,,
Assez bien,6,12,11,5,3,37
Bien,0,14,2,6,5,27
Passable,2,3,3,0,0,8
Très bien,1,3,1,2,1,8
All,9,32,17,13,9,80

> Afficher le tableau des profils-lignes

In [35]:
pd.crosstab(df["mention_bac"], df["postbac"], margins=True, normalize="index")

postbac,Autre,DUT INFO,DUT R&T,Prépa concours (CPGE),Prépa intégrée (PEI)
mention_bac,,,,,
Assez bien,0.162162,0.324324,0.297297,0.135135,0.081081
Bien,0.000000,0.518519,0.074074,0.222222,0.185185
Passable,0.250000,0.375000,0.375000,0.000000,0.000000
Très bien,0.125000,0.375000,0.125000,0.250000,0.125000
All,0.112500,0.400000,0.212500,0.162500,0.112500

> Afficher le tableau des profils-colonnes

In [36]:
pd.crosstab(df["mention_bac"], df["postbac"], margins=True, normalize="columns")

postbac,Autre,DUT INFO,DUT R&T,Prépa concours (CPGE),Prépa intégrée (PEI),All
mention_bac,,,,,,
Assez bien,0.666667,0.37500,0.647059,0.384615,0.333333,0.4625
Bien,0.000000,0.43750,0.117647,0.461538,0.555556,0.3375
Passable,0.222222,0.09375,0.176471,0.000000,0.000000,0.1000
Très bien,0.111111,0.09375,0.058824,0.153846,0.111111,0.1000

> Afficher le tableau des $\displaystyle\frac{n_{i.}n_{.j}}{n}$

In [37]:
pd.crosstab(df["mention_bac"], df["postbac"], margins=True, normalize="all")

postbac,Autre,DUT INFO,DUT R&T,Prépa concours (CPGE),Prépa intégrée (PEI),All
mention_bac,,,,,,
Assez bien,0.0750,0.1500,0.1375,0.0625,0.0375,0.4625
Bien,0.0000,0.1750,0.0250,0.0750,0.0625,0.3375
Passable,0.0250,0.0375,0.0375,0.0000,0.0000,0.1000
Très bien,0.0125,0.0375,0.0125,0.0250,0.0125,0.1000
All,0.1125,0.4000,0.2125,0.1625,0.1125,1.0000

> Calculer $d^2$ qui mesure l'écart à l'indépendance

In [38]:
tableau = pd.crosstab(df["mention_bac"], df["postbac"])

somme_colonnes = tableau.sum(axis=0)
somme_lignes = tableau.sum(axis=1)
total = tableau.values.sum()

valeurs_attendues = np.outer(somme_lignes, somme_colonnes) / total

déviation = (tableau - valeurs_attendues) ** 2 / valeurs_attendues
d_carré = déviation.values.sum()

print("d² = ", d_carré)

d² =  16.61989132168871

## Une variable quantitative et une variable qualitative

***Dans cette section, on se demande si la spécialité ($X$) permet d'expliquer la note de maths pour la crypto ($Y$).***

> Afficher le tableau des effectifs, des moyennes et des variances de $Y$ (pour chaque catégorie de $X$ et au total) (cf. exemple sur Excel)

In [39]:
table = pd.crosstab(df["specialite_ensibs"], df["gpa_maths_crypto"], values=df["gpa_maths_crypto"], aggfunc=[len, np.mean, np.var], margins=True)
table.columns.names = ["Statistiques", "gpa_maths_crypto"]
table.columns = table.columns.set_levels(["Effectifs", "Moyennes", "Variances", "Total"], level=0)

table

Statistiques      Effectifs
gpa_maths_crypto        0.0  2.0  2.5 2.75   3.0 3.48   3.5  3.6   4.0 All
specialite_ensibs
CyberData               6.0  NaN  1.0  NaN   3.0  NaN   2.0  NaN   2.0  14  \
CyberDef                3.0  2.0  2.0  1.0  15.0  1.0   7.0  1.0  10.0  42
CyberLog                2.0  1.0  2.0  NaN   6.0  NaN   7.0  NaN   6.0  24
All                    11.0  3.0  5.0  1.0  24.0  1.0  16.0  1.0  18.0  80

Statistiques       ... Moyennes                Variances
gpa_maths_crypto   ...      3.6  4.0       All       0.0  2.0  2.5  3.0  3.5
specialite_ensibs  ...
CyberData          ...      NaN  4.0  1.892857       0.0  NaN  NaN  0.0  0.0  \
CyberDef           ...      3.6  4.0  3.055476       0.0  0.0  0.0  0.0  0.0
CyberLog           ...      NaN  4.0  3.062500       0.0  NaN  0.0  0.0  0.0
All                ...      3.6  4.0  2.854125       0.0  0.0  0.0  0.0  0.0

Statistiques
gpa_maths_crypto   4.0       All
specialite_ensibs
CyberData          0.0  3.045330
CyberDef           0.0  1.018869
CyberLog           0.0  1.180707
All                0.0  1.552507

[4 rows x 27 columns]

> Vérifier la décomposition de la variance : Variance de $Y$ = Variance inter-catégories + Variance intra-catégories

In [40]:
tableau = pd.pivot_table(df, values="gpa_maths_crypto", index="specialite_ensibs", aggfunc=np.mean)

variance_totale = np.var(df["gpa_maths_crypto"], ddof=1)

var_inter = np.var(tableau["gpa_maths_crypto"], ddof=1)

var_intra = np.var(df["gpa_maths_crypto"] - df.groupby("specialite_ensibs")["gpa_maths_crypto"].transform("mean"), ddof=1)

# Print the results
print("Variance :", variance_totale)
print("Variance inter-catégories :", var_inter)
print("Variance intra-catégories :", var_intra)

Variance : 1.5721587183544306
Variance inter-catégories : 0.4532994661753592
Variance intra-catégories : 1.3736604581072935

> Calculer le rapport de corrélation empirique de $Y$ sachant $X$

In [41]:
moyenne_totale = df["gpa_maths_crypto"].mean()

grouped = df.groupby("specialite_ensibs")
moyenne_par_catégorie = grouped["gpa_maths_crypto"].mean()
effectifs_par_catégorie = grouped.size()

var_total = df["gpa_maths_crypto"].var()
var_inter = np.sum(effectifs_par_catégorie * (moyenne_par_catégorie - moyenne_totale)**2)

e_carré = (1 / len(df)) * (var_inter / var_total)

print("Rapport de corrélation empirique :", e_carré)

Rapport de corrélation empirique : 0.12468018000066663